# ignore any .o and .a files
*.[oa]
# ignore any file ending with tilde
*~
# ignore all files under targets dir
targets/

# ignore all files under release and debug dir
release/
debug/

# test results
*.out
*.vtu
*.pvd
*.out.*
t3d.bmf*
perf.data*
*.orig

# documentation aux-files.
*.aux
*.log
*.toc
*.lof
*.synctex.gz
*.run.xml
*.bcf
*-blx.bib
*.blg


*.idea
__pycache__
*.pyc
*.swp
.*.kate-swp
*.backup
*kdev*
makefile
elixirtest.c
configure
config.log
config.status
src/sm/materialname.C
src/sm/materialname.h
tests/sm/crack0Step0.vtk
tests/sm/crack1Step0.vtk
tests/sm/crack2Step0.vtk
tests/sm/t3d.bmf
/64
/CMakeFiles/3.0.2
/CMakeFiles/0378be7816c2a19246b76498580d323e/*.rule
*.rule
*.obj
*.tlog
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/CMakeFiles/generate.stamp.list
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/Continuous.vcxproj
/Continuous.vcxproj.filters
/Continuous.vcxproj.user
/DartConfiguration.tcl
/Debug/ExamplePatzak-Lstatic.in
/Debug/FourAPP-Qk1.in
/Debug/OneDistrib-Qk1.zip
/Debug/OneDistrib-Qk1T.zip
/Debug/OneDistrib-Qk1bis.zip
/Debug/OneEndRels-NO.in
/Debug/OneEndRels-Qk1.in
/Debug/OneEndRels.zip
/Debug/PG12.in
/Debug/Popov-Gavric1.in
/Debug/Popov-Gavric1b.in
/Debug/Prova1.in
/Debug/U1126F.dll
/Debug/U1127e.dll
/Debug/UELlin.dll
/Debug/UelAb.dll
/Debug/beam2d_3.in
/Debug/beam2d_3o.in
/Debug/beam3d_refA.in.bak
/Debug/beam3d_refN.in.bak
/Debug/beamexport(1).c
/Debug/beamexport_orig.c
/Debug/cantilever0.in
/Debug/cow.in
/Debug/cow.zip
/Debug/cow2.in
/Debug/eigen_beam3d.in
/Debug/four.in
/Debug/fourMens.in
/Debug/linear.dll
/Debug/linear.txt
/Debug/modal-Modal.in
/Debug/one-Qk1.in
/Debug/oofem.exe
/Debug/oofem.ilk
/Debug/oofem.pdb
/Debug/prova.in
/Debug/rigarm01.in
/Debug/spring01.in
/Debug/spring3.in
/Debug/springUelAb.in
/Debug/springUelLinear.in
/Debug/tens.in
/Experimental.vcxproj
/Experimental.vcxproj.filters
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/MinSizeRel/one-Qk1.in
/MinSizeRel/oofem.exe
/MinSizeRel/oofemRel.exe
/Nightly.vcxproj
/Nightly.vcxproj.filters
/NightlyMemoryCheck.vcxproj
/NightlyMemoryCheck.vcxproj.filters
/PACKAGE.vcxproj
/PACKAGE.vcxproj.filters
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/Release/oofem.exe
/Win32/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/beam01.vcxproj
/beam01.vcxproj.filters
/benchmarks.vcxproj
/benchmarks.vcxproj.filters
/cmake_install.cmake
/cppcheck.vcxproj
/cppcheck.vcxproj.filters
/elementlibmanual.vcxproj
/elementlibmanual.vcxproj.filters
/include.tex.in
/oofem.dir/Debug/vc120.pdb
/oofem.sdf
/oofem.sln
/oofem.v12.suo
/oofem.vcxproj
/oofem.vcxproj.filters
/oofem.vcxproj.user
/oofem_export.h
/oofemcfg.h
/partests.vcxproj
/partests.vcxproj.filters
/src/dss/CMakeFiles/generate.stamp
/src/dss/CMakeFiles/generate.stamp.depend
/src/dss/INSTALL.vcxproj
/src/dss/INSTALL.vcxproj.filters
/src/dss/PACKAGE.vcxproj
/src/dss/PACKAGE.vcxproj.filters
/src/dss/RUN_TESTS.vcxproj
/src/dss/RUN_TESTS.vcxproj.filters
/src/dss/cmake_install.cmake
/src/dss/dss.dir/Debug/dss.lib
/src/dss/dss.dir/Debug/vc120.pdb
/src/dss/dss.dir/MinSizeRel/dss.lib
/src/dss/dss.dir/Release/dss.lib
/src/dss/dss.vcxproj
/src/dss/dss.vcxproj.filters
/src/dss/x64/Debug/vc120.pdb
/src/fm/CMakeFiles/generate.stamp
/src/fm/CMakeFiles/generate.stamp.depend
/src/fm/INSTALL.vcxproj
/src/fm/INSTALL.vcxproj.filters
/src/fm/PACKAGE.vcxproj
/src/fm/PACKAGE.vcxproj.filters
/src/fm/RUN_TESTS.vcxproj
/src/fm/RUN_TESTS.vcxproj.filters
/src/fm/cmake_install.cmake
/src/fm/fm.dir/Debug/fm.lib
/src/fm/fm.dir/Debug/vc120.pdb
/src/fm/fm.dir/MinSizeRel/fm.lib
/src/fm/fm.dir/Release/fm.lib
/src/fm/fm.vcxproj
/src/fm/fm.vcxproj.filters
/src/fm/x64/Debug/vc120.pdb
/src/oofemlib/CMakeFiles/generate.stamp
/src/oofemlib/CMakeFiles/generate.stamp.depend
/src/oofemlib/INSTALL.vcxproj
/src/oofemlib/INSTALL.vcxproj.filters
/src/oofemlib/PACKAGE.vcxproj
/src/oofemlib/PACKAGE.vcxproj.filters
/src/oofemlib/RUN_TESTS.vcxproj
/src/oofemlib/RUN_TESTS.vcxproj.filters
/src/oofemlib/cmake_install.cmake
/src/oofemlib/core.dir/Debug/core.lib
/src/oofemlib/core.dir/Debug/vc120.pdb
/src/oofemlib/core.dir/MinSizeRel/core.lib
/src/oofemlib/core.dir/Release/core.lib
/src/oofemlib/core.vcxproj
/src/oofemlib/core.vcxproj.filters
/src/oofemlib/xfem/nucleationcriterion.C
/src/oofemlib/xfem/nucleationcriterion.h
/src/sm/CMakeFiles/generate.stamp
/src/sm/CMakeFiles/generate.stamp.depend
/src/sm/Elements/Interfaces/intelline1intpen.C
/src/sm/Elements/Interfaces/intelline1intpen.h
/src/sm/Elements/Interfaces/intelline2intpen.C
/src/sm/Elements/Interfaces/intelline2intpen.h
/src/sm/INSTALL.vcxproj
/src/sm/INSTALL.vcxproj.filters
/src/sm/PACKAGE.vcxproj
/src/sm/PACKAGE.vcxproj.filters
/src/sm/RUN_TESTS.vcxproj
/src/sm/RUN_TESTS.vcxproj.filters
/src/sm/cmake_install.cmake
/src/sm/sm.dir/Debug/sm.lib
/src/sm/sm.dir/Debug/vc120.pdb
/src/sm/sm.dir/MinSizeRel/sm.lib
/src/sm/sm.dir/Release/sm.lib
/src/sm/sm.vcxproj
/src/sm/sm.vcxproj.filters
/src/sm/x64/Debug/vc120.pdb
/src/sm/xfem/nucleationcriteria/ncprincipalstress.C
/src/sm/xfem/nucleationcriteria/ncprincipalstress.h
/src/tm/CMakeFiles/generate.stamp
/src/tm/CMakeFiles/generate.stamp.depend
/src/tm/INSTALL.vcxproj
/src/tm/INSTALL.vcxproj.filters
/src/tm/PACKAGE.vcxproj
/src/tm/PACKAGE.vcxproj.filters
/src/tm/RUN_TESTS.vcxproj
/src/tm/RUN_TESTS.vcxproj.filters
/src/tm/cmake_install.cmake
/src/tm/tm.dir/Debug/tm.lib
/src/tm/tm.dir/Debug/vc120.pdb
/src/tm/tm.dir/MinSizeRel/tm.lib
/src/tm/tm.dir/Release/tm.lib
/src/tm/tm.vcxproj
/src/tm/tm.vcxproj.filters
/src/tm/x64/Debug/vc120.pdb
/tests.vcxproj
/tests.vcxproj.filters
/tests/sm/fe2structuralmaterial1.in
/tests/sm/fe2structuralmaterial1.in.rve
/uncrustify-0.61.3-gf65394e-win32/BUGS
/uncrustify-0.61.3-gf65394e-win32/ChangeLog
/uncrustify-0.61.3-gf65394e-win32/README
/uncrustify-0.61.3-gf65394e-win32/cfg/amxmodx.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/ben.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/ben2.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/d.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/defaults.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/freebsd.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/gnu-indent.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/klaus.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/kr-indent.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/linux-indent.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/linux.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/mono.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/objc.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/sun.cfg
/uncrustify-0.61.3-gf65394e-win32/cfg/xsupplicant.cfg
/uncrustify-0.61.3-gf65394e-win32/doc/index.html
/uncrustify-0.61.3-gf65394e-win32/uncrustify.cfg
/uncrustify-0.61.3-gf65394e-win32/uncrustify.exe
/uncrustify-0.61.3-gf65394e-win32/vai.cmd
/01.PNG
/02.PNG
/Debug/Rs_beam3d6-Modal.in
/Debug/err05.in
/Debug/oofemPar.exe
/Debug/pianoRig-Modal.in
/Debug/pianoRig-Modal.in.bak
/Debug/rigPlaneModal_2.IN
/Debug/K.dat
/Debug/M.dat
/ALL_BUILD.vcxproj.user
/CMakeFiles/3.4.1/CMakeCCompiler.cmake
/CMakeFiles/3.4.1/CMakeCXXCompiler.cmake
/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.4.1/CMakeRCCompiler.cmake
/CMakeFiles/3.4.1/CMakeSystem.cmake
/CMakeFiles/3.4.1/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.4.1/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.4.1/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.4.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.4.1/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.4.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/feature_tests.bin
/CMakeFiles/feature_tests.cxx
/Debug/eigen_beam2d.in
/Debug/modulo_angolari_new.in
/Debug/modulo_angolari_new.nxf
/Debug/tmp.txt
/Debug/tmpb.txt
/Experimental.vcxproj.user
/INSTALL.vcxproj.user
/MinSizeRel/eigen_beam3d.in
/Nightly.vcxproj.user
/NightlyMemoryCheck.vcxproj.user
/PACKAGE.vcxproj.user
/RUN_TESTS.vcxproj.user
/ZERO_CHECK.vcxproj.user
/beam01.vcxproj.user
/benchmarks.vcxproj.user
/cppcheck.vcxproj.user
/elementlibmanual.vcxproj.user
/oofem.dir/MinSizeRel/oofem.vcxprojResolveAssemblyReference.cache
/partests.vcxproj.user
/src/dss/dss.vcxproj.user
/src/fm/fm.vcxproj.user
/src/oofemlib/core.vcxproj.user
/src/sm/sm.vcxproj.user
/src/tm/tm.vcxproj.user
/tests.vcxproj.user
/src/oofemlib/inverseit.C.bak
/src/oofemlib/inverseitMik.C
/src/oofemlib/inverseitMik.C.bak
/src/oofemlib/subspaceit.C.bak
/src/oofemlib/subspaceitMik.C
/src/oofemlib/subspaceitMik.C.bak
/Debug/six_rs.in
/Debug/ExamplePatzak-Lstatic.zip
/Debug/Four-Qk1.in
/Debug/Four-Qk1.zip
/Debug/test4-vento_X.in
/Debug/test4-vento_X.outSBAGLIATO.bem
/Debug/testGPmens-st.in
/Debug/testGPmens-st2.in
/apidoc.vcxproj
/apidoc.vcxproj.filters
/doxygen.cfg
/footer.html
/oofem.dir/Debug/oofem.vcxprojResolveAssemblyReference.cache
/oofem.opensdf
/Debug/pianoRigStatic3-modal.in
/Debug/pianoRigStatic3-modal2.in
/MinSizeRel/pianoRigStatic3-Static.in
/src/oofemlib/inverseitMIK2.C
/MinSizeRel/Three-Qk1.in
/Debug/cow2sets.in
/Debug/cowRed-load.in
/MinSizeRel/Walls-st.in
/MinSizeRel/Walls-st.outnrm.csv
/DLL/ALL_BUILD.vcxproj
/DLL/ALL_BUILD.vcxproj.filters
/DLL/CMakeCache.txt
/DLL/CMakeFiles/3.0.2/CMakeCCompiler.cmake
/DLL/CMakeFiles/3.0.2/CMakeCXXCompiler.cmake
/DLL/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_C.bin
/DLL/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_CXX.bin
/DLL/CMakeFiles/3.0.2/CMakeRCCompiler.cmake
/DLL/CMakeFiles/3.0.2/CMakeSystem.cmake
/DLL/CMakeFiles/3.0.2/CompilerIdC/CMakeCCompilerId.c
/DLL/CMakeFiles/3.0.2/CompilerIdC/CompilerIdC.exe
/DLL/CMakeFiles/3.0.2/CompilerIdC/CompilerIdC.vcxproj
/DLL/CMakeFiles/3.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/DLL/CMakeFiles/3.0.2/CompilerIdCXX/CompilerIdCXX.exe
/DLL/CMakeFiles/3.0.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/DLL/CMakeFiles/TargetDirectories.txt
/DLL/CMakeFiles/cmake.check_cache
/DLL/CMakeFiles/generate.stamp
/DLL/CMakeFiles/generate.stamp.depend
/DLL/CMakeFiles/generate.stamp.list
/DLL/CPackConfig.cmake
/DLL/CPackSourceConfig.cmake
/DLL/CTestTestfile.cmake
/DLL/Continuous.vcxproj
/DLL/Continuous.vcxproj.filters
/DLL/DartConfiguration.tcl
/DLL/Debug/beam01.exe
/DLL/Debug/beam01.ilk
/DLL/Debug/beam01.in
/DLL/Debug/beam01.pdb
/DLL/Debug/oofem.dll
/DLL/Debug/oofem.exe
/DLL/Debug/oofem.exp
/DLL/Debug/oofem.ilk
/DLL/Debug/oofem.lib
/DLL/Debug/oofem.pdb
/DLL/Experimental.vcxproj
/DLL/Experimental.vcxproj.filters
/DLL/INSTALL.vcxproj
/DLL/INSTALL.vcxproj.filters
/DLL/MinSizeRel/beam01.exe
/DLL/MinSizeRel/oofem.dll
/DLL/MinSizeRel/oofem.exp
/DLL/MinSizeRel/oofem.lib
/DLL/Nightly.vcxproj
/DLL/Nightly.vcxproj.filters
/DLL/NightlyMemoryCheck.vcxproj
/DLL/NightlyMemoryCheck.vcxproj.filters
/DLL/PACKAGE.vcxproj
/DLL/PACKAGE.vcxproj.filters
/DLL/RUN_TESTS.vcxproj
/DLL/RUN_TESTS.vcxproj.filters
/DLL/WindowsApplication1/Form1.Designer.vb
/DLL/WindowsApplication1/Form1.resx
/DLL/WindowsApplication1/Form1.vb
/DLL/WindowsApplication1/My Project/Application.Designer.vb
/DLL/WindowsApplication1/My Project/Application.myapp
/DLL/WindowsApplication1/My Project/AssemblyInfo.vb
/DLL/WindowsApplication1/My Project/Resources.Designer.vb
/DLL/WindowsApplication1/My Project/Resources.resx
/DLL/WindowsApplication1/My Project/Settings.Designer.vb
/DLL/WindowsApplication1/My Project/Settings.settings
/DLL/WindowsApplication1/WindowsApplication1.vbproj
/DLL/WindowsApplication1/bin/Debug/WindowsApplication1.exe
/DLL/WindowsApplication1/bin/Debug/WindowsApplication1.pdb
/DLL/WindowsApplication1/bin/Debug/WindowsApplication1.xml
/DLL/WindowsApplication1/bin/Debug/oofem.dll
/DLL/WindowsApplication1/bin/Release/WindowsApplication1.exe
/DLL/WindowsApplication1/bin/Release/WindowsApplication1.pdb
/DLL/WindowsApplication1/bin/Release/WindowsApplication1.xml
/DLL/WindowsApplication1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DLL/WindowsApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DLL/WindowsApplication1/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.Form1.resources
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.Resources.resources
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.exe
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.pdb
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.vbproj.FileListAbsolute.txt
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.vbproj.GenerateResource.Cache
/DLL/WindowsApplication1/obj/Debug/WindowsApplication1.xml
/DLL/WindowsApplication1/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/DLL/WindowsApplication1/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.Form1.resources
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.Resources.resources
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.exe
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.pdb
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.vbproj.FileListAbsolute.txt
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.vbproj.GenerateResource.Cache
/DLL/WindowsApplication1/obj/Release/WindowsApplication1.xml
/DLL/ZERO_CHECK.vcxproj
/DLL/ZERO_CHECK.vcxproj.filters
/DLL/apidoc.vcxproj
/DLL/apidoc.vcxproj.filters
/DLL/beam01.dir/Debug/vc120.pdb
/DLL/beam01.in
/DLL/beam01.vcxproj
/DLL/beam01.vcxproj.filters
/DLL/benchmarks.vcxproj
/DLL/benchmarks.vcxproj.filters
/DLL/cmake_install.cmake
/DLL/cppcheck.vcxproj
/DLL/cppcheck.vcxproj.filters
/DLL/doxygen.cfg
/DLL/elementlibmanual.vcxproj
/DLL/elementlibmanual.vcxproj.filters
/DLL/footer.html
/DLL/include.tex.in
/DLL/liboofem.dir/Debug/liboofem.vcxprojResolveAssemblyReference.cache
/DLL/liboofem.vcxproj
/DLL/liboofem.vcxproj.filters
/DLL/liboofem.vcxproj.user
/DLL/oofem.dir/Debug/vc120.pdb
/DLL/oofem.sdf
/DLL/oofem.sln
/DLL/oofem.v12.suo
/DLL/oofem.vcxproj
/DLL/oofem.vcxproj.filters
/DLL/oofem_export.h
/DLL/oofemcfg.h
/DLL/partests.vcxproj
/DLL/partests.vcxproj.filters
/DLL/src/dss/CMakeFiles/generate.stamp
/DLL/src/dss/CMakeFiles/generate.stamp.depend
/DLL/src/dss/INSTALL.vcxproj
/DLL/src/dss/INSTALL.vcxproj.filters
/DLL/src/dss/PACKAGE.vcxproj
/DLL/src/dss/PACKAGE.vcxproj.filters
/DLL/src/dss/RUN_TESTS.vcxproj
/DLL/src/dss/RUN_TESTS.vcxproj.filters
/DLL/src/dss/cmake_install.cmake
/DLL/src/dss/dss.dir/Debug/dss.lib
/DLL/src/dss/dss.dir/Debug/vc120.pdb
/DLL/src/dss/dss.vcxproj
/DLL/src/dss/dss.vcxproj.filters
/DLL/src/fm/CMakeFiles/generate.stamp
/DLL/src/fm/CMakeFiles/generate.stamp.depend
/DLL/src/fm/INSTALL.vcxproj
/DLL/src/fm/INSTALL.vcxproj.filters
/DLL/src/fm/PACKAGE.vcxproj
/DLL/src/fm/PACKAGE.vcxproj.filters
/DLL/src/fm/RUN_TESTS.vcxproj
/DLL/src/fm/RUN_TESTS.vcxproj.filters
/DLL/src/fm/cmake_install.cmake
/DLL/src/fm/fm.dir/Debug/fm.lib
/DLL/src/fm/fm.dir/Debug/vc120.pdb
/DLL/src/fm/fm.dir/MinSizeRel/fm.lib
/DLL/src/fm/fm.vcxproj
/DLL/src/fm/fm.vcxproj.filters
/DLL/src/oofemlib/CMakeFiles/generate.stamp
/DLL/src/oofemlib/CMakeFiles/generate.stamp.depend
/DLL/src/oofemlib/INSTALL.vcxproj
/DLL/src/oofemlib/INSTALL.vcxproj.filters
/DLL/src/oofemlib/PACKAGE.vcxproj
/DLL/src/oofemlib/PACKAGE.vcxproj.filters
/DLL/src/oofemlib/RUN_TESTS.vcxproj
/DLL/src/oofemlib/RUN_TESTS.vcxproj.filters
/DLL/src/oofemlib/cmake_install.cmake
/DLL/src/oofemlib/core.dir/Debug/core.lib
/DLL/src/oofemlib/core.dir/Debug/vc120.pdb
/DLL/src/oofemlib/core.dir/MinSizeRel/core.lib
/DLL/src/oofemlib/core.vcxproj
/DLL/src/oofemlib/core.vcxproj.filters
/DLL/src/sm/CMakeFiles/generate.stamp
/DLL/src/sm/CMakeFiles/generate.stamp.depend
/DLL/src/sm/INSTALL.vcxproj
/DLL/src/sm/INSTALL.vcxproj.filters
/DLL/src/sm/PACKAGE.vcxproj
/DLL/src/sm/PACKAGE.vcxproj.filters
/DLL/src/sm/RUN_TESTS.vcxproj
/DLL/src/sm/RUN_TESTS.vcxproj.filters
/DLL/src/sm/cmake_install.cmake
/DLL/src/sm/sm.dir/Debug/sm.lib
/DLL/src/sm/sm.dir/Debug/vc120.pdb
/DLL/src/sm/sm.dir/MinSizeRel/sm.lib
/DLL/src/sm/sm.vcxproj
/DLL/src/sm/sm.vcxproj.filters
/DLL/src/tm/CMakeFiles/generate.stamp
/DLL/src/tm/CMakeFiles/generate.stamp.depend
/DLL/src/tm/INSTALL.vcxproj
/DLL/src/tm/INSTALL.vcxproj.filters
/DLL/src/tm/PACKAGE.vcxproj
/DLL/src/tm/PACKAGE.vcxproj.filters
/DLL/src/tm/RUN_TESTS.vcxproj
/DLL/src/tm/RUN_TESTS.vcxproj.filters
/DLL/src/tm/cmake_install.cmake
/DLL/src/tm/tm.dir/Debug/tm.lib
/DLL/src/tm/tm.dir/Debug/vc120.pdb
/DLL/src/tm/tm.dir/MinSizeRel/tm.lib
/DLL/src/tm/tm.vcxproj
/DLL/src/tm/tm.vcxproj.filters
/DLL/tests.vcxproj
/DLL/tests.vcxproj.filters
/Debug/Walls-st.in
/Debug/WallsB.in
/Debug/pianoRigStatic3-Static.in
/Debug/Walls_tria-st.in
/MinSizeRel/Walls_tria-st.in
/CMakeFiles/3.6.1/CMakeCCompiler.cmake
/CMakeFiles/3.6.1/CMakeCXXCompiler.cmake
/CMakeFiles/3.6.1/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.6.1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.6.1/CMakeRCCompiler.cmake
/CMakeFiles/3.6.1/CMakeSystem.cmake
/CMakeFiles/3.6.1/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.6.1/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.6.1/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.6.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.6.1/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.6.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/beam01.dir/Debug/vc120.pdb
/Debug/in3D.dat
/Debug/in3Dc.dat
/Debug/out.dat
/MinSizeRel/quad plane stress-st.in
/Debug/patch.in
/MinSizeRel/WallsB.in
/apidoc.vcxproj.user
/Debug/OneDistribRelPart-Qk1.in
/Debug/WallsB2.in
/Debug/WallsB2.in.bak
/Debug/patch303-Lstatic.in
/MinSizeRel/3wallsB-st.in
/Debug/column2-buckling.in
/MinSizeRel/beam3dsubsoil01.in
/MinSizeRel/beam3dsubsoil02.in
/hexgrid.vcxproj
/hexgrid.vcxproj.filters
/src/oofemlib/element.h.bak
/src/oofemlib/elementBP.h
/src/oofemlib/elementBP.h.bak
/src/sm/Elements/Beams/beam3dBP.C
/src/sm/Elements/Beams/beam3dBP.h
/MinSizeRel/oofemPRE.exe
/MinSizeRel/test_mitc4_p.in
/MinSizeRel/test_mitc4shell.outOLD.nrm
/hexgrid.vcxproj.user
/MinSizeRel/test_verifica_modale-modal.in
/src/sm/Elements/Beams/beam3d.C.bak
/src/sm/EngineeringModels/eigenNEW.c
/MinSizeRel/linedistributedspring01.in
/MinSizeRel/2_walls_tria-st.in
/MinSizeRel/2_walls_tria-st2.in
/MinSizeRel/3wallsB_tria-st.in
/MinSizeRel/3wallsB_tria2-st.in
/MinSizeRel/oofem_global.exe
/MinSizeRel/pianoRigStatic3-rsX.in
/MinSizeRel/ring_pin-hook.in
/MinSizeRel/ring_pin-tr02.in
/MinSizeRel/ring_pin_2-hook.in
/MinSizeRel/pontetggio garage-pp.in
/MinSizeRel/wallCa-st.in
/MinSizeRel/wallCa-st2.in
/MinSizeRel/tettoia.in
/MinSizeRel/termica-thermal.in
/MinSizeRel/testLine3.in
/src/sm/Elements/AbaqusUserElement.C.bak
/src/sm/Elements/AbaqusUserElement.h.bak
/src/sm/Elements/AbaqusUserElementNEW.C
/src/sm/Elements/AbaqusUserElementNEW.h
/src/sm/EngineeringModels/nldeidynamic.C.bak
/src/sm/EngineeringModels/nldeidynamicMOD.bp
/MinSizeRel/compare.xlsx
/MinSizeRel/plotDisp_vs_time.PNG
/MinSizeRel/point.in
/MinSizeRel/thermal2.in
/MinSizeRel/thermal5_edges.in
/CMakeFiles/3.8.0-rc1/CMakeCCompiler.cmake
/CMakeFiles/3.8.0-rc1/CMakeCXXCompiler.cmake
/CMakeFiles/3.8.0-rc1/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.8.0-rc1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.8.0-rc1/CMakeRCCompiler.cmake
/CMakeFiles/3.8.0-rc1/CMakeSystem.cmake
/CMakeFiles/3.8.0-rc1/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.8.0-rc1/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.8.0-rc1/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.8.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.8.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.8.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
/ClassDiagram.cd
/MinSizeRel/lancia.bat
/MinSizeRel/three_mitc4_new.in
/My Amplifier XE Results - oofem/My Amplifier XE Results - oofem.amplxeproj
/My Amplifier XE Results - oofem/r000hs/.norun
/My Amplifier XE Results - oofem/r000hs/config/analysis_type.cfg
/My Amplifier XE Results - oofem/r000hs/config/collection.cfg
/My Amplifier XE Results - oofem/r000hs/config/context_values.cfg
/My Amplifier XE Results - oofem/r000hs/config/log.cfg
/My Amplifier XE Results - oofem/r000hs/config/runss.options
/My Amplifier XE Results - oofem/r000hs/config/state.cfg
/My Amplifier XE Results - oofem/r000hs/config/viewpoint.cfg
/My Amplifier XE Results - oofem/r000hs/config/viewpoint_processed.cfg
/My Amplifier XE Results - oofem/r000hs/data.0/2276-2032.0-8612.0.th
/My Amplifier XE Results - oofem/r000hs/data.0/2276-2032.0.trace
/My Amplifier XE Results - oofem/r000hs/data.0/systemcollector-8780-PC-Francesco.sc
/My Amplifier XE Results - oofem/r000hs/r000hs.amplxe
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_dd_thread/container.metadata
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_dd_thread/grouper/0
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_global_data_grouper/container.metadata
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_global_data_grouper/grouper/0
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_global_time_interval_metrics/container.metadata
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_global_time_interval_metrics/grouper/0
/My Amplifier XE Results - oofem/r000hs/sqlite-db/_cache_grouper_data4_sched_and_counter_metrics/container.metadata
/My Amplifier XE Results - oofem/r000hs/sqlite-db/dicer.db
/My Amplifier XE Results - oofem/r000hs/sqlite-db/grouper.metadata
/My Amplifier XE Results - oofem/r000hs/sqlite-db/timelinedb/dbint-32758/aggregated/0/12_18446744073709551615_0_1_1_2899507642786208606
/My Amplifier XE Results - oofem/r000hs/sqlite-db/timelinedb/directory.xml
/My Amplifier XE Results - oofem/r000hs/sqlite-db/timelinedb/groupings_dbint-32758.dat
/liboofem.dir/MinSizeRel/liboofem.vcxprojResolveAssemblyReference.cache
/liboofem.vcxproj
/liboofem.vcxproj.filters
/src/main/main.C.bak
/src/sm/Elements/Shells/Shells.rar
/src/sm/Elements/structuralelement.C.bak
/src/sm/Elements/structuralelement.h.bak
/src/sm/CrossSections/layeredcrosssection.Cold
/src/sm/CrossSections/layeredcrosssection.hold
/MinSizeRel/2_walls-st.in
/MinSizeRel/2_walls_triaIntegrazione-st.in
/MinSizeRel/testDyn.in
/MinSizeRel/testDynShell.in
/MinSizeRel/testNFRig-st.outGR.bem
/MinSizeRel/testNFRig-stGR.in
/MinSizeRel/2bays.in
/MinSizeRel/2bays0.in
/src/oofemlib/heap.C.bak
/src/oofemlib/heap.h.bak
/src/oofemlib/internalstatetype.h.bak
/src/oofemlib/vtkxmlexportmodule.C.bak
/src/oofemlib/vtkxmlexportmodule.h.bak
/src/sm/EngineeringModels/diidynamic - Copia.C
/MinSizeRel/1wallDyn-dyn.in
/MinSizeRel/launchOLD.bat
/MinSizeRel/oofemOLD.exe
/MinSizeRel/test_verificaT.in
/liboofem.dir/RelWithDebInfo/liboofem.vcxprojResolveAssemblyReference.cache
/MinSizeRel/oofemUNIV.exe
/MinSizeRel/test_modal-DSS.in
/MinSizeRel/test_modal.in
/CMakeFiles/3.8.2/CMakeCCompiler.cmake
/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.8.2/CMakeRCCompiler.cmake
/CMakeFiles/3.8.2/CMakeSystem.cmake
/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.8.2/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.8.2/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.8.2/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.8.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/Cemhyd/ALL_BUILD.vcxproj
/Cemhyd/ALL_BUILD.vcxproj.filters
/Cemhyd/CMakeCache.txt
/Cemhyd/CMakeFiles/3.8.2/CMakeCCompiler.cmake
/Cemhyd/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
/Cemhyd/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
/Cemhyd/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_CXX.bin
/Cemhyd/CMakeFiles/3.8.2/CMakeRCCompiler.cmake
/Cemhyd/CMakeFiles/3.8.2/CMakeSystem.cmake
/Cemhyd/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
/Cemhyd/CMakeFiles/3.8.2/CompilerIdC/CompilerIdC.exe
/Cemhyd/CMakeFiles/3.8.2/CompilerIdC/CompilerIdC.vcxproj
/Cemhyd/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Cemhyd/CMakeFiles/3.8.2/CompilerIdCXX/CompilerIdCXX.exe
/Cemhyd/CMakeFiles/3.8.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/Cemhyd/CMakeFiles/TargetDirectories.txt
/Cemhyd/CMakeFiles/cmake.check_cache
/Cemhyd/CMakeFiles/feature_tests.bin
/Cemhyd/CMakeFiles/feature_tests.cxx
/Cemhyd/CMakeFiles/generate.stamp
/Cemhyd/CMakeFiles/generate.stamp.depend
/Cemhyd/CMakeFiles/generate.stamp.list
/Cemhyd/CPackConfig.cmake
/Cemhyd/CPackSourceConfig.cmake
/Cemhyd/DartConfiguration.tcl
/Cemhyd/INSTALL.vcxproj
/Cemhyd/INSTALL.vcxproj.filters
/Cemhyd/PACKAGE.vcxproj
/Cemhyd/PACKAGE.vcxproj.filters
/Cemhyd/ZERO_CHECK.vcxproj
/Cemhyd/ZERO_CHECK.vcxproj.filters
/Cemhyd/beam01.vcxproj
/Cemhyd/beam01.vcxproj.filters
/Cemhyd/benchmarks.vcxproj
/Cemhyd/benchmarks.vcxproj.filters
/Cemhyd/cmake_install.cmake
/Cemhyd/cppcheck.vcxproj
/Cemhyd/cppcheck.vcxproj.filters
/Cemhyd/elementlibmanual.vcxproj
/Cemhyd/elementlibmanual.vcxproj.filters
/Cemhyd/hexgrid.vcxproj
/Cemhyd/hexgrid.vcxproj.filters
/Cemhyd/include.tex.in
/Cemhyd/liboofem.vcxproj
/Cemhyd/liboofem.vcxproj.filters
/Cemhyd/oofem.opensdf
/Cemhyd/oofem.sdf
/Cemhyd/oofem.sln
/Cemhyd/oofem.v12.suo
/Cemhyd/oofem.vcxproj
/Cemhyd/oofem.vcxproj.filters
/Cemhyd/oofem_export.h
/Cemhyd/oofemcfg.h
/Cemhyd/partests.vcxproj
/Cemhyd/partests.vcxproj.filters
/Cemhyd/src/dss/CMakeFiles/generate.stamp
/Cemhyd/src/dss/CMakeFiles/generate.stamp.depend
/Cemhyd/src/dss/INSTALL.vcxproj
/Cemhyd/src/dss/INSTALL.vcxproj.filters
/Cemhyd/src/dss/PACKAGE.vcxproj
/Cemhyd/src/dss/PACKAGE.vcxproj.filters
/Cemhyd/src/dss/cmake_install.cmake
/Cemhyd/src/dss/dss.vcxproj
/Cemhyd/src/dss/dss.vcxproj.filters
/Cemhyd/src/fm/CMakeFiles/generate.stamp
/Cemhyd/src/fm/CMakeFiles/generate.stamp.depend
/Cemhyd/src/fm/INSTALL.vcxproj
/Cemhyd/src/fm/INSTALL.vcxproj.filters
/Cemhyd/src/fm/PACKAGE.vcxproj
/Cemhyd/src/fm/PACKAGE.vcxproj.filters
/Cemhyd/src/fm/cmake_install.cmake
/Cemhyd/src/fm/fm.vcxproj
/Cemhyd/src/fm/fm.vcxproj.filters
/Cemhyd/src/oofemlib/CMakeFiles/generate.stamp
/Cemhyd/src/oofemlib/CMakeFiles/generate.stamp.depend
/Cemhyd/src/oofemlib/INSTALL.vcxproj
/Cemhyd/src/oofemlib/INSTALL.vcxproj.filters
/Cemhyd/src/oofemlib/PACKAGE.vcxproj
/Cemhyd/src/oofemlib/PACKAGE.vcxproj.filters
/Cemhyd/src/oofemlib/cmake_install.cmake
/Cemhyd/src/oofemlib/core.vcxproj
/Cemhyd/src/oofemlib/core.vcxproj.filters
/Cemhyd/src/sm/CMakeFiles/generate.stamp
/Cemhyd/src/sm/CMakeFiles/generate.stamp.depend
/Cemhyd/src/sm/INSTALL.vcxproj
/Cemhyd/src/sm/INSTALL.vcxproj.filters
/Cemhyd/src/sm/PACKAGE.vcxproj
/Cemhyd/src/sm/PACKAGE.vcxproj.filters
/Cemhyd/src/sm/cmake_install.cmake
/Cemhyd/src/sm/sm.vcxproj
/Cemhyd/src/sm/sm.vcxproj.filters
/Cemhyd/src/tm/CMakeFiles/generate.stamp
/Cemhyd/src/tm/CMakeFiles/generate.stamp.depend
/Cemhyd/src/tm/INSTALL.vcxproj
/Cemhyd/src/tm/INSTALL.vcxproj.filters
/Cemhyd/src/tm/PACKAGE.vcxproj
/Cemhyd/src/tm/PACKAGE.vcxproj.filters
/Cemhyd/src/tm/cmake_install.cmake
/Cemhyd/src/tm/tm.vcxproj
/Cemhyd/src/tm/tm.vcxproj.filters
/Cemhyd/tests.vcxproj
/Cemhyd/tests.vcxproj.filters
/Cemhyd/tinyxml2.lib
/CMakeFiles/3.9.2/CMakeCCompiler.cmake
/CMakeFiles/3.9.2/CMakeCXXCompiler.cmake
/CMakeFiles/3.9.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.9.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.9.2/CMakeRCCompiler.cmake
/CMakeFiles/3.9.2/CMakeSystem.cmake
/CMakeFiles/3.9.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.9.2/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.9.2/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.9.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.9.2/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.9.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.9.2/VCTargetsPath.txt
/CMakeFiles/3.9.2/VCTargetsPath.vcxproj
/MinSizeRel/Sol_2-vento_X.in
/MinSizeRel/oofem.dll
/MinSizeRel/oofem.exp
/MinSizeRel/oofem.lib
/beam01.dir/MinSizeRel/beam01.vcxprojResolveAssemblyReference.cache
/MinSizeRel/3piani_0_1_gruppi_elasticheB.in
/MinSizeRel/3piani_0_1_gruppi_elasticheLin.in
/liboofem.vcxproj.user
/beam01.in
/cppcheck.xml
/src/tm/qwedge_ht.C
/src/tm/qwedge_ht.h
/MinSizeRel/mollaK.in
/MinSizeRel/haggar.treef
/MinSizeRel/pthreadVC2.dll
/MinSizeRel/testCirc-sw.in
/MinSizeRel/qwedge_test.in
/MinSizeRel/beam01dyn.in
/MinSizeRel/beam01dyn.zip
/MinSizeRel/beam01dynB.in
/RelWithDebInfo/oofem.dll
/RelWithDebInfo/oofem.exe
/RelWithDebInfo/oofem.exp
/RelWithDebInfo/oofem.ilk
/RelWithDebInfo/oofem.lib
/RelWithDebInfo/oofem.pdb
/RelWithDebInfo/oofemDLL.pdb
/RelWithDebInfo/pthreadVC2.dll
/RelWithDebInfo/testCirc-sw.in
/oofem.dir/RelWithDebInfo/vc120.pdb
/src/dss/dss.dir/RelWithDebInfo/dss.lib
/src/dss/dss.dir/RelWithDebInfo/vc120.pdb
/src/fm/fm.dir/RelWithDebInfo/fm.lib
/src/fm/fm.dir/RelWithDebInfo/vc120.pdb
/src/oofemlib/core.dir/RelWithDebInfo/core.lib
/src/oofemlib/core.dir/RelWithDebInfo/vc120.pdb
/src/sm/sm.dir/RelWithDebInfo/sm.lib
/src/sm/sm.dir/RelWithDebInfo/vc120.pdb
/src/tm/tm.dir/RelWithDebInfo/tm.lib
/src/tm/tm.dir/RelWithDebInfo/vc120.pdb
/MinSizeRel/beam01.exe
/MinSizeRel/run-Kobe.in
/MinSizeRel/3piani.in
/MinSizeRel/NFnlLib.dll
/MinSizeRel/NFnlW.dll
/MinSizeRel/OoModel.dll
/MinSizeRel/nflib.dll
/MinSizeRel/spring102.in
/MinSizeRel/spring5.in
/beam01.dir/RelWithDebInfo/beam01.vcxprojResolveAssemblyReference.cache
/oofem.dir/RelWithDebInfo/oofem.vcxprojResolveAssemblyReference.cache
/MinSizeRel/3piani.zip
